<h2><%= t(:editing, :default => 'Editing') %> <%= t(:clasification, :default => "clasification") %></h2>

<%= render 'form' %>

<%= link_to t(:back, :default => "Back"), clasifications_path, :class => "btn" %>